*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color: black;
}

div{
    margin: 50px;
    align-items: center;
}

div p{
    padding: 15px;
}

p{
    width: 75%;
}

span{
    color: rgba(207, 61, 61, 0.959);
}

a{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 15px;
    border-radius: 5px;
}